:root {
  --header-width: 10rem;
  --progress-bar-y: 0.5rem;

  --white: #fff;
  --ink: #070707;
  --bg: #f3f3f3;
  --offset: #e9e9e9;
  --div: #ccc;

  --z-progress-bar: 950;
  --z-menu: 900;
  --z-subheader: 950;

  --brand: #4000ff;
  --accent: #fcfc04;
  --error: #fc4604;
}
