<div class='podcast' data-controller='player'>
  <audio controls>
    <source src="<%= podcast_url -%>" type="audio/mp3">
  </audio>
  <div class='podcast-meta box'>
    Subscribe to our podcast on:
    <a href="https://itunes.apple.com/ie/podcast/dublin-inquirer-podcast/id1296587392?mt=2" title="Dublin Inquirer on iTunes">iTunes</a>
    <a href="https://www.stitcher.com/podcast/no-stupid-questions" title="Dublin Inquirer on Stitcher">Stitcher</a>
    <a href="https://open.spotify.com/show/27KpFNBpkIg6rNxyZA7oGo?si=mTcS-i7dRpizIcSXY51yHg" title="Dublin Inquirer on Spotify">Spotify</a>
  </div>
</div>