- title "Search results for #{ params[:q] }"

%header.page-header
  %h1.heading
    Search results for
    %code.-quote #{ params[:q] }

.block.-pt2.-pb4
  - if @articles.any?
    .wrapper.-contained{role: 'layout'}
      = render partial: 'articles/index', locals: {page: @page, articles: @articles, query_params: {q: @query}}

  - else
    .text.-centered
      :markdown
        We couldn't find any articles matching your search terms.