html
  font-size: 8px
  @media screen and (min-width: $medium)
    font-size: 9px
  @media screen and (min-width: $large)
    font-size: 10px
  @media screen and (min-width: $max)
    font-size: 11px

body
  border-top: 0.75rem solid var(--black)
  font-family: $sans
  font-weight: 400
  font-size: var(--t4)
  line-height: calc(var(--baseline) * 2)
  background-color: var(--default)

  &.-overlay-open
    overflow: hidden

::selection
  color: var(--white)
  background: var(--blue)
  text-shadow: none
  a, a:link, a:visited
    text-shadow: none

a, a:link, a:visited
  color: var(--black)
  text-decoration: none
  &:hover
    color: var(--blue)
    cursor: pointer

  &.-disabled
    color: var(--grey)
    &:hover
      cursor: default
      color: var(--grey)
  
code
  font-family: $mono
  background-color: var(--faint)

h1, h2, h3, h4, h5, h6, big, strong, b
  font-weight: 600

.sub-omnipresent
  padding-top: calc(4.32rem - 0.75rem)

.hidden
  display: none

  &.-md-show
    @media screen and (min-width: $medium)
      display: block

  &.-lg-show
    @media screen and (min-width: $large)
      display: block