.button, a.button, a.button:link, a.button:visited, input.button
  font-family: $sans
  -webkit-appearance: none
  margin-left: 0
  margin-right: 0
  border: 0

  &:hover
    cursor: pointer

  &.-standard
    background: var(--default)
    color: var(--black)
    padding: 0.675rem 1.25rem
    border: 1px solid var(--black)
    transition: 0.125s ease all
    &:hover
      background: var(--yellow)
      color: var(--black)

    &.-big
      font-size: var(--t3)
      line-height: 1.5
      padding: 1.75rem 3.25rem
      font-weight: 800
    
    &:disabled, &[disabled]
      background-color: var(--faint)
      color: var(--grey)
      border-color: var(--grey)
      &:hover
        cursor: default
        background-color: var(--faint)
        color: var(--grey)

  &.-red
    background: var(--red)
    color: var(--white)
    padding: 0.675rem 1.25rem
    transition: 0.25s ease all
    &:hover
      color: var(--yellow)

    &.-big
      padding: 1.5rem 3rem
      font-weight: 600
      background-color: var(--red)
      color: var(--white)

  &.-yellow
    background: var(--yellow)
    color: var(--black)
    padding: 0.675rem 1.25rem
    border: 1px solid var(--black)
    transition: 0.25s ease all
    &:hover
      color: var(--red)

    &.-big
      padding: 1.5rem 3rem
      font-weight: 600

  &.-white
    background: var(--default)
    color: var(--black)
    padding: 0.575rem 1rem
    border: 1px solid var(--black)
    transition: 0.125s ease all
    font-weight: 600
    &:hover
      background: var(--white)
      color: var(--blue)

  &.-christmas
    display: block
    position: relative
    background: var(--white)
    color: var(--black)
    border: 1px solid var(--black)
    padding: 1.5rem 3rem
    font-weight: 600
    box-shadow: 0 0.25rem 1rem rgba(#000,0.125)
    transition: all ease 0.25s
    &:hover
      transform: translateY(0.125rem)

.text-button
  -webkit-appearance: none
  display: inline-block
  padding: 0
  margin: 0
  font-family: $sans
  font-weight: 400
  color: var(--black)
  border: 0
  background-color: transparent
  &:hover
    color: var(--blue)
    border-color: transparent
    cursor: pointer
