.button, a.button, a.button:link, a.button:visited, input.button
  font-family: $sans

  &:hover
    cursor: pointer

  &.-standard
    background: var(--default)
    color: var(--black)
    padding: 0.675rem 1.25rem
    border: 1px solid var(--black)
    transition: 0.125s ease all
    &:hover
      background: var(--yellow)
      color: var(--black)

    &.-big
      padding: 1.5rem 3rem

  &.-red
    background: var(--red)
    color: var(--white)
    padding: 0.675rem 1.25rem
    transition: 0.25s ease all
    &:hover
      color: var(--yellow)

    &.-big
      padding: 1.5rem 3rem
      font-weight: 600

  &.-yellow
    background: var(--yellow)
    color: var(--black)
    padding: 0.675rem 1.25rem
    border: 1px solid var(--black)
    transition: 0.25s ease all
    &:hover
      color: var(--red)

    &.-big
      padding: 1.5rem 3rem
      font-weight: 600

  &.-white
    background: var(--white)
    color: var(--black)
    padding: 0.5rem 1rem
    transition: 0.25s ease all
    transition: ease all 0.5s
    &:hover
      color: var(--blue)

.text-button
  -webkit-appearance: none
  display: inline-block
  padding: 0
  margin: 0
  font-family: $sans
  font-weight: 400
  color: var(--black)
  border: 0
  background-color: transparent
  &:hover
    color: var(--blue)
    border-color: transparent
    cursor: pointer
