header.-issue
  .heading
    margin-bottom: var(--baseline)
    font-size: var(--t2)
    font-weight: 800
    font-family: $sans

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    .heading
      padding-left: var(--gutter)
      font-size: var(--t2)
  @media screen and (min-width: $large)

header.-modal
  margin-top: var(--gutter)
  .heading
    margin-left: var(--gutter)
    margin-bottom: 1rem
    font-size: var(--t2)
    line-height: 1.1
    font-weight: 800
    font-family: $sans
  .text
    margin-bottom: 1rem

header.-box
  margin: calc(-1 * var(--baseline)) calc(-1 * var(--baseline)) var(--baseline)
  border-bottom: 1px solid var(--black)
  text-align: left
  padding: 0.75rem 1rem 0.55rem
  .heading, .headline
    font-weight: 500
    font-size: var(--t5)
    &:before
      content: '■ '
  .meta
    font-weight: 500
    font-size: var(--t5)
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    div:first-child
      &:before
        content: '■ '

    .name
      flex: 1

    .date
      flex: 1
      text-align: right

  &.-black
    color: var(--default)
    background-color: var(--black)

nav.-box
  font-size: var(--t5)
  a, a:link, a:visited
    color: var(--grey)