.list
  &.-nav
    & > li
      display: inline
    & > li + li
      &:before
        content: '/ '
        color: var(--grey)

  &.-em
    & > li
      &:before
        content: '—'
        color: var(--grey)

  &.-delineated
    li
      padding: 0 0 calc(var(--baseline)/2)
      &:last-child
        padding-bottom: 0
    li + li
      padding-top: calc(var(--baseline)/2)
      border-top: 1px solid var(--faint)
  &.-options
    li + li
      margin-top: var(--baseline)

  &.-meta
    li + li
      border-top: 1px solid var(--black)
    li
      position: relative
      padding: calc(var(--baseline)*2.75) var(--baseline) var(--baseline)

      label
        position: absolute
        top: calc(var(--baseline)/2)
        left: var(--baseline)
        font-size: var(--t5)

  &.-articles
    padding: 0
    margin-left: 0
    margin-right: 0
    & > li
      display: inline
    & > li + li
      &:before
        content: ' / '
        color: var(--grey)

  &.-sentence
    & > li
      display: inline
      &:after
        content: ', '
      &:last-child
        &:after
          content: ''

  &.-tags
    li
      display: inline-block

    a, a:link, a:visited, .tag
      margin-top: 0
      margin-bottom: 0
      color: var(--red)
      border: 1px solid var(--red)
      padding: 0.5rem 0.75rem
      transition: 0.25s all ease
      &:hover
        background: var(--red)
        color: var(--default)
