.text
  strong
    font-weight: 600

  h5 + p
    margin-top: 0.5rem

  h5
    font-weight: 600

  p, ul, ol, blockquote
    margin: var(--baseline) 0

    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  a, a:link, a:visited
    color: var(--black)
    border-bottom: 1px solid var(--blue)
    &:hover
      border-bottom-color: transparent
      color: var(--blue)

  form
    margin: calc(var(--baseline)/2) 0 var(--baseline)

    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  &.-centered
    text-align: center

.text.-article
  font-size: var(--b2)
  line-height: calc(1.5 * var(--b2)) // 2.4rem
  font-family: $serif
  strong
    font-family: $sans
    font-size: 1.1em

.text.-small
  font-size: var(--b4)
  line-height: 1.4

  p, ul, ol, blockquote
    margin: calc(var(--baseline)/2) 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  form
    margin: calc(var(--baseline)/4) 0 var(--baseline)
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  &.-fancy
    font-family: $serif
    font-size: var(--h3)
    line-height: 1.4
    text-align: center

    @media screen and (min-width: $small)
    @media screen and (min-width: $medium)
    @media screen and (min-width: $large)
      font-size: var(--h2)

.text.-tiny
  font-size: var(--b5)
  line-height: 1.25

  p, ul, ol, blockquote
    margin: calc(var(--baseline)/2) 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

  form
    margin: calc(var(--baseline)/4) 0 var(--baseline)
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

.c.-grey
  color: var(--grey)

.h.-h1
  font-size: var(--h1)
  letter-spacing: -0.025em
  line-height: 1.1
  font-weight: 300
  margin-bottom: var(--baseline)
.h.-h2
  font-size: var(--h2)
  letter-spacing: -0.025em
  line-height: 1.2
  font-weight: 300
  margin-bottom: var(--baseline)
.h.-h3
  font-size: var(--b1)
  line-height: 1.3
  font-weight: 800
  margin-bottom: var(--baseline)

.p.-serif
  font-family: $serif

.p.-scale
  font-size: var(--b2)
  line-height: calc(1.5 * var(--b2)) // 2.4rem
  h3
    font-weight: 600
  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    font-size: 1.6vw
    line-height: 1.4

.p
  &.-b1
    font-size: var(--b1)
    line-height: 1.4
  &.-b2
    font-size: var(--b2)
    line-height: 1.4
  &.-b3
    font-size: var(--b3)
    line-height: 1.4
  &.-b4
    font-size: var(--b4)
    line-height: 1.4
  &.-b5
    font-size: var(--b5)
    line-height: 1.4

.p.-category
  font-weight: 400
  text-align: left
  a, a:link, a:visited
    color: var(--black)
    background-color: var(--default)
    border: 1px solid var(--black)
    display: inline-block
    font-size: var(--b4)
    line-height: 1.4em
    padding: 0.25rem 0.5rem 0.175rem
    &:hover
      color: var(--blue)
      background-color: var(--default)
      border-color: var(--blue)