.c
  &.-w3
    font-weight: 300
  &.-w4
    font-weight: 400
  &.-w5
    font-weight: 500
  &.-w6
    font-weight: 600
  &.-w8
    font-weight: 800


  &.-i
    font-style: italic

  &.-serif
    font-family: $serif

  &.-grey
    color: var(--grey)

    &.-sf
      a, a:link, a:visited
        color: var(--grey)
        font-weight: 400
        border-color: var(--grey)

.a
  &.-elsewhere
    &:after
      font-weight: 400
      content: " \2192"
      opacity: 0
      margin-left: -0.5rem
      transition: 0.25s all ease
    &:hover
      &:after
        opacity: 1
        margin-left: 0

.code
  font-family: $mono
  font-weight: 400
  font-style: normal

  &.-quote
    &:before
      content: '‘'
    &:after
      content: '’'

.p
  // font size
  &.-t1
    font-size: var(--t1)
    line-height: 1.1

  &.-t2
    font-size: var(--t2)
    line-height: 1.2

    &.-serif
      font-size: calc(var(--t2) * 0.869)
      line-height: calc(var(--t2) * 1.4)
      font-family: $serif

  &.-t3
    font-size: var(--t3)
    line-height: 1.4

    &.-serif
      font-size: calc(var(--t3) * 0.869)
      line-height: calc(var(--t3) * 1.4)
      font-family: $serif

  &.-t4
    font-size: var(--t4)
    line-height: 1.4

    &.-serif
      font-size: calc(var(--t4) * 0.869)
      line-height: calc(var(--t4) * 1.4)
      font-family: $serif

  &.-t5
    font-size: var(--t5)
    line-height: 1.4

    &.-serif
      font-size: calc(var(--t5) * 0.869)
      line-height: calc(var(--t5) * 1.4)
      font-family: $serif

  &.-sf
    a, a:link, a:visited
      border-bottom: 1px solid var(--black)
      &:hover
        color: var(--blue)
        border-bottom-color: var(--blue)
    p, ul, ol
      margin: 1em 0
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0

  &.-serif
    font-family: $serif

  // alignment
  &.-centered
    text-align: center
  &.-left
    text-align: left
  &.-right
    text-align: right

.h
  // font size
  &.-h1
    font-size: var(--t1)
    letter-spacing: -0.0325em
    line-height: 1.1
    font-weight: 400
  &.-h2
    font-size: var(--t2)
    letter-spacing: -0.0325em
    line-height: 1.2
    font-weight: 800
  &.-h3
    font-size: var(--t3)
    line-height: 1.2
    font-weight: 400
  &.-h4
    font-family: $sans
    font-size: var(--t3)
    line-height: 1.2
    font-weight: 800

  // alignment
  &.-centered
    text-align: center
  &.-left
    text-align: left
  &.-right
    text-align: right