[role='overlay']
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color: var(--default)
  z-index: 9999
  display: flex
  flex-direction: column
  justify-content: stretch
  align-items: stretch
  padding-top: 0.75rem

  & > .content
    flex: 1
    display: flex
    justify-content: stretch
    align-items: stretch

    & > .frame
      flex: 1

  & > .footer