.wrapper[role=layout]
  &.-container
    margin-left: 2vw
    margin-right: 2vw

  @media screen and (min-width: $medium)
    &.-medium
      max-width: $medium
      margin-left: auto
      margin-right: auto

  @media screen and (min-width: $large)
    &.-large
      max-width: $large
      margin-left: auto
      margin-right: auto

  @media screen and (min-width: 58rem)
    &.-small
      max-width: 52rem
      margin-left: auto
      margin-right: auto

  @media screen and (min-width: 28rem)
    &.-tiny
      max-width: 28rem
      margin-left: auto
      margin-right: auto

  @media screen and (min-width: $contained)
    &.-contained
      max-width: var(--contained)
      margin-left: auto
      margin-right: auto