.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2 We&rsquo;ll miss you

  %div
    .block.-form.-b.-p2.-bg-faint
      .p.-t4.-centered.-sf
        .p
          :markdown
            Your subscription has been cancelled. You&rsquo;ll still have access to Dublin Inquirer and its complete archive until the end of the current billing period (#{ @subscription.current_period_ends_at.strftime("%m/%d/%Y") }).

  .block.-my4.-py4
    .p.-t4.-sf.-centered
      &nbsp;