.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2 Update your payment method

  - if current_user.delinquent?
    .block.-mb4
      .p.-t3.-sf
        :markdown
          We're having trouble charging your account. Please enter your credit or debit card details below to avoid an interruption in your subscription.

  - elsif current_user.sources_count == 0
    .block.-mb4
      .p.-t3.-sf
        :markdown
          We don't have a payment card on file for your account. Please enter your credit or debit card details below to avoid an interruption in your subscription.

  #payment-form{data: {'action': payment_submit_user_path, user: @user_data.to_json}}

  .block.-my4.-py4
    .p.-t4.-sf.-centered
      %ul
        %li= link_to raw("&larr; Go back without saving changes"), :user

- content_for :head_tags do
  = javascript_pack_tag 'payment'