secret_key_base: nil

development:
  stripe:
    publishable_key: nil
    secret_key: nil

test:
  stripe:
    publishable_key: nil
    secret_key: nil

staging:
  aws:
    access_key_id: nil
    secret_access_key: nil
    bucket: nil
    ugc_cloudfront_url: nil
  postmark:
    api_key: nil
  sentry:
    dsn: nil
  stripe:
    publishable_key: nil
    secret_key: nil

production:
  aws:
    access_key_id: nil
    secret_access_key: nil
    bucket: nil
    asset_cloudfront_url: nil
    ugc_cloudfront_url: nil
  postmark:
    api_key: nil
  sentry:
    dsn: nil
  stripe:
    publishable_key: nil
    secret_key: nil
