- title 'Contact us'
- description "We're eager to hear from our readers about tips, corrections, or anything at all."
- set_meta_tags canonical: "https://www.dublininquirer.com/contact"


%header.page-header
  %h1.h.-h2 Contact us
  .block.-mt1.p.-t3
    :markdown
      We love tips, complaints, corrections, and compliments.

.block.-p2.-pb4
  .wrapper.-small{role: 'layout'}
    .article.-standard.-formatted
      :markdown
        #### Email

        You can always reach us by email. We take privacy very seriously, but email doesn't, so if you need to send us something sensitive we'd recommend other methods.

        Email us:

        `info@dublininquirer.com`

        #### WhatsApp

        You can download the free messaging app onto your mobile phone to send and receive messages with full end-to-end encryption. WhatsApp, which is owned by Facebook, does store some records, including phone numbers used in exchanges, users’ metadata and timestamps.

        Add us:

        `+353 873924796`

        #### Signal

        Like WhatsApp, Signal is a free messaging app with full end-to-end encryption. Unlike Whatsapp, Signal is an open source project funded by grants and donations, and is purpose-built for privacy and security. You can download it from the App Store.

        Add us:

        `+353 873924796`

        #### By Post

        You can also send us a letter:

      %pre
        %code
          Dublin Inquirer
          Parkview House
          65 Crumlin Road
          Dublin 12
          D12 EP4F

= render partial: 'products/enticement'