- title "About us"
- description "Dublin Inquirer is an independent, reader-supported newspaper serving Ireland's capital"
- set_meta_tags canonical: "https://www.dublininquirer.com/imprint"

- cache ['imprint', 'v1'] do
  %header.page-header
    %h1.heading
      About us
    %p.p.-b1
      Dublin Inquirer is an independent newspaper launched in June 2015 to provide quality coverage of city affairs. It is published online weekly (on Wednesday mornings) and in print monthly (mid month) from our office in Crumlin.

  .block.-p2.-pb4
    .wrapper.-small{role: 'layout'}
      %header.header.-modal
        %h2.heading Staff

      - @staff.each do |staff|
        = render partial: 'authors/staff', locals: {staff: staff}

      %header.header.-modal
        %h2.heading Columnists

      - @columnists.each do |author|
        = render partial: 'authors/author', locals: {author: author}

      %header.header.-modal
        %h2.heading Regular contributors

      - @contributors.each do |author|
        = render partial: 'authors/author', locals: {author: author}

= render partial: 'products/enticement'