- title "Pick us up in print"
- set_meta_tags canonical: "https://www.dublininquirer.com/stockists"

.wrapper{role: 'layout'}
  .box.-padded-v
    .container
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          %header.header.-section
            %h1.heading Stockists

          .box.-padded-v
            .text.-static
              :markdown
                If you want to grab a copy of our monthly print edition, here’s a list of lovely people who stock us:

              %ul.list
                %li
                  %h4 Wigwam
                  54 Abbey Street Middle, Dublin 1
                %li
                  %h4 Connolly Books
                  43 East Essex Street, Dublin 2
                %li
                  %h4 The Library Project
                  4 Temple Bar Street, Dublin 2
                %li
                  %h4 Irish Film Institute Shop
                  6 Eustace Street, Dublin 2
                %li
                  %h4 George’s Street Arcade
                  2 South Great George’s Street, Dublin 2
                %li
                  %h4 Little Museum of Dublin
                  15 St Stephen’s Green, Dublin 2
                %li
                  %h4 Books Upstairs
                  17 D’Olier Street, Dublin 2
                %li
                  %h4 Bark Coffee at Alan Hannah’s Bookshop
                  270 Rathmines Road Lower, Dublin 6
                %li
                  %h4 Back Page
                  199 Phibsborough Rd, Dublin 7
                %li
                  %h4 Urbanity Coffee
                  The Glass House, 11 Coke Lane, Dublin 7
                %li
                  %h4 Bang Bang
                  59A Leinster St North, Dublin 7
                %li
                  %h4 Marrowbone Books
                  78 The Coombe, Dublin 8
                %li
                  %h4 Smallchanges Wholefoods Store
                  40 Drumcondra Road Lower, Dublin 9
