.admin-main
  margin: 0 0 0 10.5rem
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: stretch
  height: 100vh
  overflow: hidden
  border-top: 0.75rem solid var(--black)
  border-left: 1px solid var(--black)