- cache [article, 'cartoon'] do
  .block
    = link_to article.path, class: ['block', '-my2', '-p2', '-b', '-bg-faint', 'excerpt'] do
      .block.-mb1
        %figure.artwork.-square
          - if article.featured_artwork.image.present?
            = image_tag article.featured_artwork.image.medium.url, loading: 'lazy'

      .p.-centered
        %span.p.-t4
          %h3.headline.inline.c.-w4.-serif Cartoon of the week

          :markdown
            <em>by #{ article.authors.map(&:full_name).to_sentence } &rarr;</em>