- cache [article, 'cartoon'] do
  .excerpt.-cartoon
    .content
      .illustration
        %figure.artwork
          = link_to article.path do
            = image_tag article.featured_artwork.image.large.url
      .caption
        %strong Cartoon of the week
        by
        = raw article.authors.map { |author| link_to(author.full_name, [:admin, author]) }.to_sentence