.block.flex
  = link_to "/projects/elections/2019-local", class: ['block', 'excerpt', '-election'] do
    .p.-t3
      .c.-w8 Citizens&rsquo; Agenda:<br>Local Elections 2019

    .p.-t4.-sf
      :markdown
        We asked our readers what they want candidates in the upcoming elections to discuss as they compete for votes.

        These are their responses.
      
    %figure
      = image_tag "elections/image.jpg"