.block.flex
  = link_to "/projects/elections/2019-local", class: ['block', '-my2', '-p2', '-b', '-bg-faint', 'excerpt'] do
    .block.-pt2.-px4.-mb2
      .block.-px4
        .block.-p1
          %figure.artwork.-square
            = image_tag "elections/image.jpg"

    .block.-mb1
      .p.-centered.-t4
        %h3.headline.inline.c.-w4.-serif Citizens&rsquo; Agenda:<br>Local Elections 2019

    .p.-centered.-t4
      :markdown
        We asked our readers what they want candidates in the upcoming elections to discuss as they compete for votes, and then posed those questions to the candidates for the 2019 local elections.