%svg{width: '320px', height: '188px', viewBox: '0 0 320 188'}
  <rect x="0" y="0" width="320" height="20"></rect>
  <rect x="0" y="84" width="320" height="20"></rect>
  <rect x="0" y="168" width="320" height="20"></rect>