- title @tag.name
- description "Dublin Inquirer articles related to #{ @tag.name } "

%header.page-header
  %h1.heading
    Articles related to
    %code.-quote #{ @tag.name }

.block.-p2.-pb4
  .wrapper.-contained{role: 'layout'}
    = render partial: 'articles/index', locals: {page: @page, articles: @articles, query_params: {q: @query}}