- title '500 Error'
- noindex true


.wrapper.-small{role: 'layout'}
  .block.-my4.-py4
    .p.-t3.-sf
      :markdown
        Sorry, but your authentication failed. Give it another try, and if that doesn't work, please email us at <a href="mailto:info@dublininquirer.com">info@dublininquirer.com</a> and we'll try to help you sort it out!
      %nav.block.-mt4  
        = link_to raw("Go to the home page &rarr;"), :root, class: 'button -big'