.wrapper.-tiny{role: 'layout'}
  %header.header.-fancy
    %h1.heading Error

  .text
    :markdown
      An error prevented the page from loading. We'll fix it.

  %nav.nav.-actions.-centered
    = link_to "Return home", :root, class: 'button -standard'
