.wrapper.-tiny{role: 'layout'}
  .p.-t3.-sf
    :markdown
      # 500

      An error prevented the page from loading. We'll fix it.

  %nav.block.-mt4
    = link_to raw("&larr; Return home"), :root, class: 'button -standard'
