.wrapper.-tiny{role: 'layout'}
  .p.-t3.-sf
    :markdown
      # 404

      The requested page could not be found. Either there's a typo in the URL, or the page has moved.

  %nav.block.-mt4
    = link_to raw("&larr; Return home"), :root, class: 'button -standard'
