$sans: "Zirkon", sans-serif
$serif: "Suisse Works", serif

\:root
  // font sizes
  --b1: 1.92rem
  --b2: 1.6rem
  --b3: 1.4rem
  --b4: 1.2rem
  --b5: 1.0rem
  --b6: 0.8rem

  --h1: 4.8rem
  --h2: 3.04rem
  --h3: 2.16rem

  --max: 1500px
  --contained: 1740px
  --baseline: 1rem
  --gutter: 4.25rem

  --default: #fafafa
  --white: #ffffff
  --faint: #eee
  --grey: #999
  --black: #070707

  --blue: #4000FF
  --red: #FC4604
  --green: #A7FC04
  --yellow: #FCFC04
  --blue-dark: #2F00BF
  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
  @media screen and (min-width: $large)
  @media screen and (min-width: $max)