- title 'Subscribe'
- noindex true

- content_for :breadcrumbs do
  .current Subscribe

%header.header.-modal
  %h1.heading Thanks

.text.-article
  :markdown
    It's readers like you who make Dublin Inquirer's work possible. Thank you.

    If you have any problems, story suggestions, or just want to talk: email us at <a href="mailto:info@dublininquirer.com">info@dublininquirer.com</a>. We like talking to our readers!

%nav.box.-invisible.-tight.-other
  = link_to "Go to the home page", :root, class: 'button -big'
