- title 'Subscribe'
- noindex true

.wrapper.-small{role: 'layout'}
  .block.-my4.-py4
    %header.block.-mt4.-mb2
      %h2.h.-h2.-centered Thanks

    .p.-t3.-sf
      :markdown
        In-depth local reporting is more important than ever, and it's subscribers like you who make it possible.

        If you have any problems, story suggestions, or just want to talk: email us at <a href="mailto:info@dublininquirer.com">info@dublininquirer.com</a>. We like talking to our readers!

      = link_to raw("Go to the home page &rarr;"), :root, class: 'button -big'

:javascript
  fbq('track', 'Subscribe', {
    value: #{ ((@subscription.plan.try(:amount)/100.0) * 12).round },
    currency: 'EUR'
  });