- content_for :breadcrumbs do
  .current Become a Patron

%header.header.-modal
  %h1.heading Become a Friend or Patron

  .text.-article
    :markdown
      Some readers subscribe at a higher monthly rate to further support the work that we do. These subscription rates include the **monthly print edition**, unlimited **digital access** (including our complete, searchable archive), and an enormous amount of gratitude from all of us and from everybody else in Dublin who benefits from the reporting your generosity supports.

%header.header.-section
  %h2.heading Subscription options

.container
  .row
    .col-xs-12.col-lg-6
      .block.-my1
        = link_to raw("<span>Friend</span><span class='figure -lg'>€20/month</span>"), upgrade_subscriptions_path(id: 'friend'), class: 'button -price', method: :put
    .col-xs-12.col-lg-6
      .block.-my1
        = link_to raw("<span>Patron</span><span class='figure -lg'>€50/month</span>"), upgrade_subscriptions_path(id: 'patron'), class: 'button -price', method: :put