.admin-view {
  padding: 1rem;
  max-width: 100%;
  flex-grow: 1;
  overflow: hidden;

  ul {
    opacity: 0;
    visibility: hidden !important;
  }

  table {
    visibility: visible !important;
  }
}
