.article-header


.article.-standard

.article.-formatted
  font-size: 15px
  line-height: 23px
  font-family: $serif

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    font-size: 20px
    line-height: 30px
  @media screen and (min-width: $large)
  @media screen and (min-width: $max)

  // handle block-level spacing here
  section.content
    max-width: 68rem
    margin: 0 auto

    & > *:first-child
      margin-top: 0
      padding-top: 0

    &.-p, &.-ul, &.-ol, &.-blockquote
      margin-top: 2rem
      margin-bottom: 2rem

    &.-h3, &.-h4
      margin-top: 4em
      padding-left: 2em

      & + .-p, & + .-ul, & + .-ol, & + .-blockquote
        margin-top: 1rem
        padding-top: 0

  h3, h4
    font-family: $sans
    font-size: 27px
    line-height: 1
    font-weight: 800
    letter-spacing: -0.0325em

  ul, ol
    padding-left: 4rem
    padding-right: 10%

  video, figure, iframe
    width: 100%
    height: auto

  // this should mirror the above
  &.-constrained
    & > *:first-child
      margin-top: 0
      padding-top: 0

    p, ul, ol, blockquote
      margin-top: 2rem
      margin-bottom: 2rem

    h3, h4
      margin-top: 4em
      padding-left: 2em

      & + p, & + ul, & + ol, & + blockquote
        margin-top: 1rem
        padding-top: 0

      &.-plain
        margin-top: 0
        padding-left: 0