.icon
  display: flex
  justify-content: center
  align-items: center
  width: 2.25rem
  height: 2.25rem
  svg
    display: block
    width: 80%
    height: auto

a, a:link, a:visited
  &.icon
    &:hover
      cursor: pointer
      background-color: var(--blue)
      svg
        fill: var(--default)
        stroke-color: var(--default)
        rect
          fill: var(--default)
          stroke-color: var(--default)