.notice.-fixed
  position: fixed
  left: 2rem
  right: 2rem
  bottom: 2rem
  z-index: 999
  padding: 0
  padding-left: 4rem
  nav
    position: absolute
    left: 1rem
    top: 1rem

    a, a:link, a:visited
      &.icon
        width: 2.25rem
        height: 2.25rem
        &:hover
          background-color: transparent
          svg
            rect
              fill: var(--blue)

  @media screen and (min-width: $medium)
    padding-left: 0rem
    flex-direction: row