[role='overlay']
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  backdrop-filter: blur(0.0125rem)
  background-color: rgba(#fafafa,0.95)
  z-index: 9998
  opacity: 0
  transition: 0.25s all ease
  pointer-events: none

  &.-limited
    transition: all 1s ease

  &.-open
    pointer-events: auto
    opacity: 1
    backdrop-filter: blur(0.325rem)

    &.-limited
      backdrop-filter: blur(0.5rem)
      background-color: transparent
      background-image: linear-gradient(rgba(#000,0.775) 0%, rgba(#000,0.925) 100%)
      .paywall-content
        top: 40vh

.paywall-content
  transition: top 1s ease
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 100vh
  height: 60vh
  overflow: hidden
  background-color: var(--default)
  border-top: 2px solid var(--black)
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: stretch

  section
    padding: 2rem
    &:first-child
      border-bottom: 1px solid var(--faint)
    &:last-child
      border-top: 1px solid var(--faint)

  section.-nav
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center