.primary-footer
  font-size: var(--b3)
  line-height: 1.5

  .logotype
    width: 90%
    max-width: 20rem
    height: auto
    margin-bottom: 1rem

    svg
      fill: var(--black)

  big
    display: block
    font-weight: 400
    margin-top: 1rem
    font-style: italic

    &:first-child
      margin: 0

  p
    margin-top: 1rem

    &:first-child
      margin: 0

  a, a:link, a:visited
    color: var(--black)