.sidebar
  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    font-size: var(--b4)
    line-height: 1.25
    position: relative
    display: flex
    flex-direction: column
    justify-content: stretch
    align-items: flex-start

  @media screen and (min-width: $large)
    & > .content
      width: 100%
  @media screen and (min-height: 700px)
    & > .content
      position: sticky
      top: calc((var(--gutter)/2) + 4.32rem)