@import 'modules/variables'
@import 'modules/*'

+reset

@import 'shared/*'
@import 'components/hr'
@import 'components/progress-bar'
@import 'admin/*'

body
  border-top: 0

.button, a.button, a.button:link, a.button:visited, input.button
  font-family: $sans
  font-size: var(--t5)
  -webkit-appearance: none
  background: var(--default)
  color: var(--black)
  padding: 0.5rem 1rem
  border: 1px solid var(--black)
  transition: 0.125s ease all
  &:hover
    cursor: pointer
    background: var(--yellow)
    color: var(--black)

  &.-small
    padding: 0 0.5rem