@import 'modules/variables'
@import 'modules/*'

+reset

@import 'shared/*'
@import 'layouts/*'

body
  font-size: var(--t4)
  line-height: 1.4

.turbolinks-progress-bar
  height: 0.75rem
  background-color: var(--faint)

.header.-elections
  padding: 2rem
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center

  .logo
    margin-right: 2rem

  .title
    padding-left: 2rem
    border-left: 1px solid var(--black)

  &.-blue
    background-color: var(--blue)
    color: var(--default)
    a, a:link, a:visited
      color: var(--default)
      &:hover
        color: var(--default)
    .logo
      .logotype
        svg g
          fill: var(--default)
    .title
      border-left-color: var(--default)

.logotype
  display: block
  text-indent: -9999px
  overflow: hidden
  height: 4.5rem
  width: calc(4.5rem * 2.45)

  svg
    display: block
    object-fit: contain
    object-position: left bottom
    width: 100%
    height: 100%

.artwork.-portrait
  background-color: transparent
  overflow: visible
  img
    filter: grayscale(1)
    border-radius: 100%

.response
  display: flex
  flex-direction: row
  position: relative

  .candidate
    flex-basis: 12rem
    padding-right: 1.5rem
    position: relative
    & > .content
      top: 14rem
      position: sticky
      position: -webkit-sticky
      z-index: 999
      .speech-line
        display: block
        position: absolute
        top: 6rem
        width: 1rem
        height: 1px
        right: -1.5rem
        background: var(--black)

  .body
    flex: 1

    .response-body
      padding: 2rem
      background-color: var(--default)
      border: 1px solid var(--black)
      overflow: hidden

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    .candidate
      flex-basis: 14rem
      padding-right: 2rem
      & > .content
        .speech-line
          top: 6rem
          width: 1.5rem
          right: -2rem

    .body
      .response-body
        padding: 4rem

.area-switcher
  margin-top: 2rem
  flex: 1
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: stretch

  &.-cta
    select
      font-size: var(--t3)
      font-weight: 600
      border-width: 2px
      background-position: right 1.5rem center

  label
    display: none
  select
    display: block
    font-size: var(--t4)
    font-family: $sans
    font-weight: 400
    color: var(--default)
    line-height: 1.4
    padding: .5em 2em .5em .75em
    width: 100%
    max-width: 100%
    box-sizing: border-box
    margin: 0
    border: 1px solid var(--default)
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0)
    border-radius: 0
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background-color: var(--blue)
    background-position: right 1rem center
    background-image: url(asset-path('elections/switch.svg'))
    background-size: 2.5rem auto
    background-repeat: no-repeat
    &::-ms-expand
      display: none
    &:hover
      border-color: var(--white)
      color: var(--white)
      cursor: pointer
    &:focus
      border-color: var(--white)
      box-shadow: 0 0 0 0 rgba(59, 153, 252, 0)
      color: var(--white)
      outline: none
    option
      font-weight: normal

.question-anchor
  width: 100%
  height: 0
  overflow: hidden
  display: block

.question
  position: relative
  padding-bottom: 8rem
  margin-bottom: 4rem
  border-bottom: 1px solid var(--black)
  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    padding-bottom: 12rem

  &.-brief
    padding-bottom: 0
    margin-bottom: 0
    border-bottom: 0
    .header
      .next, .back
        display: none
    
    &:last-child
      padding-bottom: 8rem

  .header
    position: relative
    position: sticky
    position: -webkit-sticky
    top: 0
    z-index: 9999
    background-color: var(--faint)
    padding: 2rem

    .next, .back
      position: absolute
      top: 0
      bottom: 0
      background-position: center center
      background-repeat: no-repeat
      background-size: 2rem auto
      width: 4rem
      text-indent: -9999px
      overflow: hidden
      opacity: 0.75
      transition: 0.125s all ease
      &:hover
        cursor: pointer
        opacity: 0.925
      &:active
        opacity: 1

    .back
      left: 0
      background-image: url(asset-path('previous.svg'))

    .next
      right: 0
      background-image: url(asset-path('next.svg'))

.candidates-mini-list
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap

  &.-left
    justify-content: flex-start

.candidate-mini
  margin: 0 1rem 2rem
  flex-basis: 8rem
  flex-grow: 0
  flex-shrink: 0
  display: flex
  flex-direction: column
  justify-content: stretch
  align-items: center
  text-align: center

  .face
    width: 100%
    margin-bottom: 1rem

.page-header
  padding: 5rem 0 4rem
  position: relative
  text-align: center

  &.-left
    text-align: center

  .illustration
    display: none

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    padding: 7.5rem calc(50% - 30rem) 6.75rem

    .illustration
      display: block
      width: 16rem
      height: 16rem
      margin: 0 auto
      img
        width: 100%
        height: 100%
        object-fit: cover

.block.-bg-blue
  a, a:link, a:visited
    color: var(--default)
  
  .p.-sf
    a, a:link, a:visited
      color: var(--default)
      border-color: var(--default)