// just an override for elections at the moment

@import 'modules/variables'

.main
  background-color: var(--faint)
  border-bottom: 1px solid var(--black)

.header.-elections
  flex-direction: column
  justify-content: flex-start
  align-items: stretch

  .project-title
    flex: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
  
  .cta
    display: none
  
  a, a:link, a:visited
    &.button.-white
      color: var(--black)

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    flex-direction: row
    align-items: center

    .project-title

    .cta
      display: block

.submit-overlay
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding: 2rem
  background-color: var(--black)
  color: var(--white)
  display: flex
  flex-direction: column
  text-align: center
  align-items: stretch

  .button
    display: block
    margin-top: 1rem
    flex: 1

  @media screen and (min-width: $small)
  @media screen and (min-width: $medium)
    display: none

.filters
  top: 0
  position: sticky
  position: -webkit-sticky
  padding: 2rem
  background-color: var(--default)
  border-bottom:  1px solid var(--black)

.services
  & > li
    margin-bottom: 2rem
  
.service
  display: block
  padding: 2rem
  background-color: var(--default)
  border: 1px solid var(--black)

  label
    display: block
    font-weight: 600

  .title-bar
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-end
    & > * + *
      margin-left: 1rem
      padding-left: 1rem
      border-left: 1px solid var(--grey)
  
  .description
    margin: 2rem 0
  
  .details
    display: flex
    flex-direction: column
    & > * + *
      margin-bottom: 1rem
    
    a, a:link, a:visited
      text-decoration: underline
      &:hover
        color: var(--blue)
        text-decoration: underline

    .categories, .areas, .address, .contact
      label
        display: block
      
      span, a
        &:after
          content: ', '
        &:last-child
          &:after
            content: ''
  
    @media screen and (min-width: $small)
    @media screen and (min-width: $medium)
      flex-direction: row
      & > * + *
        margin-bottom: 0
        margin-left: 1rem
        padding-left: 1rem
        border-left: 1px solid var(--grey)