- title display_category(@category)
- description "Articles in the #{ display_category(@category) } category."

%header.page-header
  %h1.heading= display_category(@category)

.block.-p2.-pb4
  .wrapper.-contained{role: 'layout'}
    = render partial: 'articles/index', locals: {page: @page, articles: @articles, query_params: {}}