- content_for :breadcrumbs do
  .current Give a subscription

%header.header.-modal
  %h1.heading Give the gift of local journalism

  .text.-article
    :markdown
      **Give the gift of local, reader-supported journalism** to the inquistive Dubliner in your life. Dublin Inquirer is funded mainly by its subscribers, rather than advertisers. That way, we can stay independent, and focused on the stories that readers want and need – and stories that you won’t find anywhere else.

      We'll email you a certificate you can print out or forward on to the recipient.

%header.header.-section
  %h2.heading Gift options

.container
  .row
    .col-xs-12
      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Digital-only

        .content
          :markdown
            Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

        %nav.-box.-actions.-tight.-full
          = link_to raw("<span>One year</span><span class='figure'>€60</span>"), gift_subscription_path(id: 'digital-full'), class: 'button -price'
          = link_to raw("<span>Half year</span><span class='figure'>€30</span>"), gift_subscription_path(id: 'digital-half'), class: 'button -price'

      .box.-tight.-roomy
        %header.header.-box.-tight
          %h3.heading Digital + Monthly print

        .content
          :markdown
            The **monthly print edition** features a selection of our favourite online articles delivered to your door. Comes with unlimited **digital access**.

        %nav.-box.-actions.-tight.-full
          = link_to raw("<span>One year</span><span class='figure'>€96</span>"), gift_subscription_path(id: 'print-full'), class: 'button -price'
          = link_to raw("<span>Half year</span><span class='figure'>€48</span>"), gift_subscription_path(id: 'print-half'), class: 'button -price'


      .box.-roomy
        %header.header.-box
          %h3.heading Questions?
        .text
          If you have any questions or special requests, you can reach us anytime at: <a href="mailto:info@dublininquirer.com">info@dublininquirer.com</a>.
