.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2 Give a subscription

  .block.-mb4
    .p.-t3.-sf
      - if @gift_subscription.requires_address?
        :markdown
          **Monthly print edition** featuring a selection of our favourite online articles delivered to your door, and unlimited **digital access** for #{ pluralize @gift_subscription.duration, 'month' }.
      - else
        :markdown
          Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile for #{ pluralize @gift_subscription.duration, 'month' }.
  
  %div#gift-form{data: {'action': gift_subscriptions_path, 'gift-subscription': @gift_subscription_data.to_json}}

  .block.-my4.-pb4
    %hr.-separator
    .block.-mt4.p.-t4.-sf.-centered
      :markdown
        **Questions?**

        If you have any questions or special requests, you can reach us at: <a href="mailto:info@dublininquirer.com">info@dublininquirer.com</a>.

- content_for :head_tags do
  = javascript_pack_tag 'gift'