- title 'Give a subscription'
- noindex true

.wrapper.-small{role: 'layout'}
  .block.-my4.-py4
    %header.block.-mt4.-mb2
      %h2.h.-h4.-centered Thanks

    .p.-t3.-sf
      :markdown
        Your gift subscription is confirmed. Thank you. We'll send a little card so you'll have something to give in person.

        If you have any problems, story suggestions, or just want to talk: email us at [info@dublininquirer.com](mailto:info@dublininquirer.com). We like talking to our readers!

      = link_to raw("Go to the home page &rarr;"), :root, class: 'button -big'