- title 'Set up account'
- noindex true

.wrapper.-small{role: 'layout'}
  .block.-my4.-py4
    %header.block.-mt4.-mb2
      %h2.h.-h2.-centered Check your email

    .p.-t3.-sf
      :markdown
        We've sent you an email with a link to set up your new Dublin Inquirer account. Apologies for the inconvenience: you'll only have to do this once!