- title 'Migrate'
- noindex true

- content_for :breadcrumbs do
  .current Migrate

%header.header.-section
  %h1.heading Check your email

.box.-padded-v
  .text.-static
    :markdown
      Looks like you already have a Dublin Inquirer account or subscription. **We've sent you an email with a link to set up your new Dublin Inquirer account**.

      Apologies for the inconvenience: you'll only have to do this once!
