.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2 Update your payment method

  - if current_user.delinquent?
    .block.-mb4
      .p.-t3.-sf
        :markdown
          We've been having trouble charging your card. Please enter your credit/debit card details below to avoid an interruption in your subscription.

  = form_for @user, url: :migrate_payment_save, method: :put, html: {class: 'subscription-form', data: {'fonts-url': asset_url('fonts.css')}} do |f|
    .block.-form.-b.-p2.-bg-faint
      .field
        %label Card number
        #stripe-form_card-number

      .field.twofer
        .field
          %label Expiration date
          #stripe-form_card-expiry
        .field
          %label Security code
          #stripe-form_card-cvc

      %nav.block.-mt2.actions
        = f.submit 'Save changes', class: 'button -standard -big'

      .block.-mt2
        .p.-t4.-centered.c.-grey.-sf
          :markdown
            We use <a href="https://www.stripe.com" target="_blank">Stripe</a> to securely handle payment details.

  .block.-my4.-py4
    .p.-t4.-sf.-centered &nbsp;