- title 'Migrate'
- noindex true

- content_for :breadcrumbs do
  .current Confirm

%header.header.-modal
  %h1.heading Confirm subscription plan

- if @subscription.print?
  .text.-article
    :markdown
      Along with our introduction of online-only digital subscriptions, we're offering current subscribers a choice between maintaining their **digital + print subscription** for €9/month (the price of the digital subscription plus the cover price of the print edition), or switching to a **digital-only subscription** for €6/month.

      All of our articles (including our full archive) are available to digital subscribers, and we publish a new edition weekly. The print edition is published monthly and includes a selection of our favourite articles of the month.

  %nav.actions
    = link_to "Switch to digital-only", migrate_plan_save_path(plan: 'digital'), class: 'button -secondary', method: 'put'
    = link_to "Keep digital + print", migrate_plan_save_path(plan: 'print'), class: 'button', method: 'put'

- else
  .text.-article
    :markdown
      We're offering current subscribers a choice between **digital + print subscription** for €9/month (the price of the digital subscription plus the cover price of the print edition), or a **digital-only subscription** for €6/month.

      All of our articles (including our full archive) are available to digital subscribers, and we publish a new edition weekly. The print edition is published monthly and includes a selection of our favourite articles of the month.

  %nav.actions
    = link_to "Switch to digital + print", migrate_plan_save_path(plan: 'print'), class: 'button -secondary', method: 'put'
    = link_to "Keep digital-only", migrate_plan_save_path(plan: 'digital'), class: 'button', method: 'put'
