- title 'Welcome'
- noindex true

.wrapper.-small{role: 'layout'}
  .block.-my4.-py4
    %header.block.-mt4.-mb2
      %h2.h.-h2.-centered Welcome

    .p.-t3.-sf
      :markdown
        You're all set.

        Most of our readers read online, so we're focusing on making the experience as good as we can. Your new account and this new site design are part of that.

        We're going to continue improving the site, so we appreciate your patience as we fix bugs, add features, and iterate on the design.

        If you have any problems, suggestions, or just want to talk: email me at [info@dublininquirer.com](mailto:info@dublininquirer.com). I'll respond.

      = link_to raw("Go to the home page &rarr;"), :root, class: 'button -big'