.wrapper.-small{role: 'layout'}
  %header.page-header
    %h1.h.-h2= @product.name

  .block.-mb4
    .p.-t3.-sf
      - if @landing_page # TODO free month shouldn't be hardcoded
        :markdown
          As a special offer, subscribe now and you'll receive a **free month** of digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

      - elsif @plan.requires_address?
        :markdown
          **Monthly print edition** featuring a selection of our favourite online articles delivered to your door, in addition to unlimited **digital access**, including our full archive.

      - else
        :markdown
          Unlimited digital access to **DublinInquirer.com**, including our full archive, optimised for desktop and mobile.

  .subscribe-form
    [TODO: subscribe form]

  .block.-my4.-pb4
    .p.-t4.-sf.-centered
      - if @landing_page
        %ul.list.-nav
          %li You won't be billed today
          %li #{ number_to_currency((@plan.amount/100.0), unit: '€', precision: 2) } billed monthly beginning on #{ @subscription.trial_ends_at.strftime('%-d %B %Y') }
          %li Cancel any time
      - else
        %ul.list.-nav
          %li #{ number_to_currency((@plan.amount/100.0), unit: '€', precision: 2) } billed monthly
          %li Subscriptions renew automatically
          %li Cancel any time