- query_params = (defined?(query_params) && query_params.present?) ? query_params : {}

.block.-py4
  .p.-t3.-centered
    .inline-block
      - if page > 1
        = link_to raw("&larr;"), query_params.merge({p: (page - 1)})
      - else
        %a.-disabled &larr;
    .inline-block
      %span #{ page }/#{ collection.total_pages }
    .inline-block
      - if page < collection.total_pages
        = link_to raw("&rarr;"), query_params.merge({p: (page + 1)})
      - else
        %a.-disabled &rarr;