%div{role: 'overlay', class: '-limited', id: 'limited'}
  .paywall-content
    %section.section
      .text.-centered
        :markdown
          I’m afraid you’ve reached your limit of free articles this month. If you’re a subscriber, #{ link_to "log in", :login } and keep reading!

    %section.section
      .wrapper.-small{role: 'layout'}
        %header.header.-fancy
          %h2.heading Subscribe to quality, independent local journalism

        .text.-centered
          :markdown
            Our readers give us the resources and space to do our reporting. Thanks to them, we can keep focused on accurate and compelling reporting, and telling stories about the city that you can’t get anywhere else.

    %section.section.-nav
      = link_to "See subscription options", :products, class: 'button -cta -big'

:coffeescript
  $(document).on 'ready turbolinks:load', ->
    overlayEl = $('#limited')
    overlayEl.show()

    setTimeout ->
      $('body').addClass('-overlay-open')
      overlayEl.addClass '-open'
      $('[type="text"]:first', overlayEl).focus()
    , 25