- query_params = (defined?(query_params) && query_params.present?) ? query_params : {}

.block.-mt2.-mb4
  .box.-pagination
    %section
      - if page > 1
        = link_to raw("&larr;"), query_params.merge({p: (page - 1)})
      - else
        %a.-disabled &larr;
    %section
      %span #{ page }/#{ collection.total_pages }
    %section
      - if page < collection.total_pages
        = link_to raw("&rarr;"), query_params.merge({p: (page + 1)})
      - else
        %a.-disabled &rarr;